a
{text-decoration: none;
color:white;
}

strong{
color:white
}

.card-img-top {
    width: 100%;
    height: 30vh;
    object-fit: cover;
}

.titulo {
    font-family: 'Poppins', sans-serif;
    background-color:#ADB1E3 !important;
    color:black;
    }


.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #ADB1E3 !important;
}