{%extends "base.html"%}
{% block content%}
{% if not user.is_authenticated %}
<div class="container  titulo p-3 mt-2 rounded-3 border">
  <h5 class="text-light">Bienvenido</h5>
  <h5>Si quieres ver más, <a href="{% url 'login' %}">Inicia Sesión</a> </h5>
</div>
{% endif %}
{% if user.is_authenticated %}
<div class="container  titulo p-3 mt-2 rounded-3 border">
  <nobr><h5 class="text-capitalize fw-bold text-light">{{user.get_username}}</h5>
    <h5>Revisa todos nuestros productos, haciendo <a href="{% url 'catalogo' %}">click aquí</a></h5></nobr>
</div>
{% endif %}
<div class="container p-0 mt-2">
<div class="row ">
{% for flan in flanes%}
  <div class="col-12 col-sm-6 col-md-3 mb-1">
    <div class="card h-100">
      <img src="{{flan.image_url}}" class="card-img-top"  alt="...">
      {% if flan.is_new == True %}
      <div class="card-img-overlay"><h5 class="d-inline bg-warning text-black">¡Nuevo!</h5></div>
      {% endif %}
      <div class="card-body ">
        <h5 class="card-title">{{flan.name}}</h5>
        <p class="card-text">{{flan.description}}</p>
      </div>
    </div>
  </div>

{%endfor%}
  </div>
</div>
{% endblock %}